<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta charset="UTF-8">
        <title>Title</title>
</head>
<body>

<!-----------------弹出框----------------------------->
<div id="spu_dlg" class="easyui-dialog" title="编辑spu" style="width:700px;height:520px;"
     closed="true" data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#spuBtns"  >
        
    <form id="spuForm">
        <br/>
        <label>spu名称:</label>
        <input id="spuName" name="spuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>spu描述:</label>
        <input id="description" name="description" class="easyui-textbox" data-options="multiline:true"
               style="width:600px;height:100px"/>
        <input id="spuId" name="spuId" type="hidden"/>
        <br/>
                <!----------------商品图片列表 ----------------------->
               
        <table id="spuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:true,method:'get',toolbar:'#spuImgTootbar'"></table>

                <!----------------图片列表工具栏----------------------->
                
        <div id="spuImgTootbar" style="padding:5px;height:40px">
                        
            <div style="margin-bottom:5px">
                <a href="#" id="spuImgAdd" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加图片</a>
                <a href="#" id="spuImgUploadBtn" class="easyui-linkbutton" iconCls="icon-save" plain="true"  >图片上传</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>            
            </div>
                    
        </div>
        <br/><br/>
                <!----------------销售属性列表---------------------------->
                
        <table id="spuSaleAttrDg" class="easyui-datagrid" title="销售属性列表"
               data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrTootbar'"></table>

                <!----------------销售属性列表工具栏----------------------->
                
        <div id="spuSaleAttrTootbar" style="padding:5px;height:40px">
                        
            <div style="margin-bottom:5px">
                <a href="#" id="spuSaleAttrAddBtn" class="easyui-linkbutton" iconCls="icon-add"
                   onclick="addSpuSaleAttr()" plain="true">添加销售属性</a>
                <a href="#" id="spuSaleAttrEditBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                   onclick="editSpuSaleAttr()">编辑销售属性</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>            
            </div>
                    
        </div>
                
        <div th:include="spuSaleAttrPage"></div>
            
    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="spuBtns">
        <a href="#" class="easyui-linkbutton" onclick="saveSpu();">保 存</a>
        <a href="#" class="easyui-linkbutton" onclick="closeSpu();">关 闭</a>
</div>

<script language="JavaScript">

     function saveSpu(){
         //获取三级分类id
         var catalog3Id = $("#ctg3ForSpuList").combobox('getValue');
         if (!catalog3Id) {
             catalog3Id = '61';
         }
         //获得spu的参数
         var spuInfo = {};
         spuInfo["spuName"] = $("#spuName").textbox("getValue");
         spuInfo["description"] = $("#description").textbox("getValue");
         spuInfo["catalog3Id"] = catalog3Id;
         saleAttrRows = $("#spuSaleAttrDg").datagrid("getRows");
         $(saleAttrRows).each(function(i,saleAttrRow){
             spuInfo["spuSaleAttrList[" + i + "].saleAttrId"] = saleAttrRow.saleAttrId;
             spuInfo["spuSaleAttrList[" + i + "].saleAttrName"] = saleAttrRow.saleAttrName;

             //封装属性值集合
             spuSaleAttrValueJson = saleAttrRow.spuSaleAttrValueJson.rows;
             $(spuSaleAttrValueJson).each(function(j,saleAttrValue){
                 spuInfo["spuSaleAttrList[" + i + "].spuSaleAttrValueList[" + j + "].saleAttrId"] = saleAttrRow.saleAttrId;
                 spuInfo["spuSaleAttrList[" + i + "].spuSaleAttrValueList[" + j + "].saleAttrValueName"] = saleAttrValue.saleAttrValueName;
             });
             console.log(spuInfo);
         });
         alert("test1");
         $.post("saveSpu",spuInfo,function(data){
             alert("test2");
             $("#spu_dlg").dialog("close");
             var url = "getSpuList?catalog3Id=" + catalog3Id;
             $("#spulist_dg").datagrid({url:url});
             $("#spulist_dg").datagrid("reload");
         });
         //
         // $.ajax({
         //     url: "saveSpu",
         //     async: false,//这一步是非常重要的，作用是设置为同步执行
         //     type: "POST",
         //     data: { "state": 1 },
         //     dataType: "json",
         //     success: function (data) {
         //         alert("success");
         //         $("#spu_dlg").dialog("close");
         //         var url = "getSpuList?catalog3Id=" + catalog3Id;
         //         $("#spulist_dg").datagrid({url:url});
         //         $("#spulist_dg").datagrid("reload");
         //     }
         // });

     }

    // function saveSpu() {
    //     // 获得三级分类id
    //     var catalog3Id = $("#ctg3ForSpuList").combobox('getValue');
    //     if(!catalog3Id){
    //         catalog3Id = '61';
    //     }
    //     // 获得spu的参数
    //     var spuInfo = {};
    //     spuInfo["spuName"] = $("#spuName").textbox("getValue");
    //     spuInfo["description"] =$("#description").textbox("getValue");
    //     spuInfo["catalog3Id"] =catalog3Id;
    //
    //     saleAttrRows = $("#spuSaleAttrDg").datagrid("getRows");
    //     $(saleAttrRows).each(function(i,saleAttrRow){
    //         spuInfo["spuSaleAttrList["+i+"].saleAttrId"]=saleAttrRow.saleAttrId;
    //         spuInfo["spuSaleAttrList["+i+"].saleAttrName"]=saleAttrRow.saleAttrName;
    //
    //         // 封装属性值集合
    //         spuSaleAttrValueJson = saleAttrRow.spuSaleAttrValueJson.rows;
    //         $(spuSaleAttrValueJson).each(function(j,saleAttrValue){
    //             spuInfo["spuSaleAttrList["+i+"].spuSaleAttrValueList["+j+"].saleAttrId"]=saleAttrRow.saleAttrId;
    //             spuInfo["spuSaleAttrList["+i+"].spuSaleAttrValueList["+j+"].saleAttrValueName"]=saleAttrValue.saleAttrValueName;
    //         });
    //     });
    //
    //     $.post("saveSpu",spuInfo,function (data) {
    //         $("#spu_dlg").dialog("close");
    //         $("#spu_dlg").dialog("open");
    //         var url = "getSpuList?catalog3Id="+catalog3Id;
    //         $("#spulist_dg").datagrid({url:url});
    //         $("#spulist_dg").datagrid("reload");
    //     });
    // }

    function closeSpu(){
        $("#spu_dlg").dialog("close");
    }

    function addSpuSaleAttr(){
        $("#spuSaleAttr_dlg").dialog("open");
        initSpuSaleAttrDlg();

    }

    function initSpuInfoDlg() {

        //初始化上传控件

        //初始化spu的销售属性列表的列属性
        initSpuImgListDatagrid();

        //初始化spu的图片的列属性

    }

    function initSpuImgListDatagrid(){
        $("#spuSaleAttrDg").datagrid({
            columns: [[
                {field: 'saleAttrId', title: '销售属性编号', width: 100},
                {
                    field: 'saleAttrName', title: '销售属性名称', width: 100,
                    editor: {type: "validatebox", options: {required: true}}
                },
                {field: 'spuSaleAttrValueJson', title: '销售属性值暂存', width: 100}
            ]]
        });
    }

</script>
 
</body>