<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.gmall.manage.mapper.BaseAttrValueMapper">
    
    <select id="getAttrListByValueIds" resultMap="getAttrListByValueIdsMap" parameterType="String">
        SELECT
            attr.*, attrValue.*, attr.id as attr_id, attrValue.id as attrValue_id
        FROM
            base_attr_info attr,
            base_attr_value attrValue
        WHERE
            attr.id = attrValue.attr_id
        AND attrValue.id IN (${valueIdStr})
    </select>
    <resultMap id="getAttrListByValueIdsMap" type="com.java.gmall.bean.BaseAttrInfo" autoMapping="true">
        <id column="attr_id" property="id"></id>
        <collection property="attrValueList" ofType="com.java.gmall.bean.BaseAttrValue" autoMapping="true">
            <result column="attrValue_id" property="id"></result>
        </collection>

    </resultMap>
</mapper>