<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.gmall.manage.mapper.SkuSaleAttrValueMapper">
    
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap" parameterType="String">
        SELECT
            info.id AS sku_id,
            skv.id AS skv_id,
            info.*, skv.*
        FROM
            sku_info info,
            sku_sale_attr_value skv
        WHERE
            info.id = skv.sku_id
        AND info.spu_id = #{spuId}
    </select>
    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.java.gmall.bean.SkuInfo" autoMapping="true">
        <id column="sku_id" property="id"></id>
        <collection property="skuSaleAttrValueList" ofType="com.java.gmall.bean.SkuSaleAttrValue" autoMapping="true">
            <result column="skv_id" property="id"></result>
        </collection>

    </resultMap>
</mapper>